{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans votre compte{% endblock %}

{% block body %}
    <h1>Modifier mon mot de passe</h1>
    <hr>
    {{ form(form) }}
    <a href="{{ path('account_home') }}">Retourner à mon compte </a>
{% endblock %}
