{% extends 'base.html.twig' %}

{% block title %}
    Contactez-nous - NadirShop
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div>
            <br>
            <h1>Formulaire de contact </h1>
            <hr>
        </div>

        <div>
            {{ form(form) }}
        </div>
    </div>
    {% endblock %}
