{#<h1>Merci pour votre inscription {{ user.fullName }}</h1>

<p>Vous êtes inscrits chez NadirShop</p>

<p>Vous pouvez désormé profitez de nos produits</p>#}


<h1>Activation de votre compte</h1>
<p>Vous avez créé un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activer </p>

<p><a href="{{ absolute_url(path('activation', {'token':token})) }}">Activer mon compte</a></p>