<h1>Réinitialisationde votre mot de passe</h1>
<p>Vous avez demandé de réinitiaiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>
<p><a href="{{ absolute_url(path('app_reset_password', {'token':token})) }}">Récupérer mon mot de passe</a></p>
