{% extends 'base.html.twig' %}

{% block title %}
Page introuvable - NadirShop
{% endblock %}

{% block body %}
<div class="block-smail">
    <h2>Page introuvable</h2>
    <p>Désolé cette page n'existe pas pour le moment.</p>
    <a href="{{ path('homepage') }}" class="btn btn-info">Revenir à la page d'accueil</a>

</div>
{% endblock %}
